@import "tailwindcss";


@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #2cff05;
  --color-primary-foreground: #000000;
  --color-border: #27272a;
}


@layer base {
  * {
    border-color: var(--border);
  }

  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
    max-width: 100vw;
  }
}